allure-results/1af99627-19aa-4135-b6a3-f81f7716b6ea-testsuite.xml
allure-results/1cff4d47-07e5-4f92-a237-759c7508695b-testsuite.xml
allure-results/1de5655d-a595-42a7-9ad8-2e8cb1f3d3bc-testsuite.xml
allure-results/1e1c2cd7-e224-4286-95fa-2a17a831d9a2-testsuite.xml
allure-results/4e426e21-2081-4c2e-8ab9-e37b944a8444-testsuite.xml
allure-results/5e23fa8f-3b8c-4e52-a000-97bcfe53ad73-testsuite.xml
allure-results/8c0ca8f7-16d6-4284-91a3-a2fea450e598-testsuite.xml
allure-results/9abef734-2fea-4536-878e-2fe3d9f1c2b7-testsuite.xml
allure-results/12af8366-48b0-419c-932e-34204bf939ad-testsuite.xml
allure-results/31a92a6d-3c91-4f0f-a750-f5086a5cdda9-testsuite.xml
allure-results/39b2968c-d98a-42b5-8d6c-8a51815e1919-testsuite.xml
allure-results/50d8e04c-9c7f-4bbb-a388-c35263d69dfe-testsuite.xml
allure-results/54f322d5-7c5b-4b10-a945-8380dc06637e-testsuite.xml
allure-results/80b63998-55d6-4c78-b676-b0326d85d26a-testsuite.xml
allure-results/973b36f3-8c58-41fa-991d-dce80adea6d9-testsuite.xml
allure-results/4469ef83-3711-47b2-ab56-baa6de1d6bc2-testsuite.xml
allure-results/29493cc4-ac93-4923-8714-41081c94cc92-testsuite.xml
allure-results/24493633-272e-4785-b7f8-8db9fca46336-testsuite.xml
allure-results/42318762-112e-4659-99c8-76c5ed4d1ab8-testsuite.xml
allure-results/52295242-ae55-46ea-b36a-433de74b3d4d-testsuite.xml
allure-results/a2a06897-4286-40c8-9e9c-637717477810-testsuite.xml
allure-results/a9dc55a4-a22b-4b9b-b225-ef9b06ad6c07-testsuite.xml
allure-results/ae2d5b9a-1c6e-4ac0-b95d-16e8f43d0565-testsuite.xml
allure-results/b473a68d-2dee-4c45-8d13-8190f6404bc9-testsuite.xml
allure-results/b456737c-8b01-40ec-80b9-f2440958d8cb-testsuite.xml
allure-results/c51b51a7-1b62-49f1-beae-341c0a7dbaf2-testsuite.xml
allure-results/c2911fdc-3484-4e5e-b5c5-4d7303e2571d-testsuite.xml
allure-results/ca6b9fe0-c91e-465f-9de2-72c4d2f9cf82-testsuite.xml
allure-results/d412e58b-b48d-401c-b4d4-e38f615eff09-testsuite.xml
allure-results/db74ab92-9d08-48bc-8731-b7dfc6ec0883-testsuite.xml
allure-results/e87b6d6e-37b4-4b90-99e3-8b136c065cfe-testsuite.xml
allure-results/e655b257-97ad-4a5e-80cd-087f09314a13-testsuite.xml
allure-results/f68b6154-58ff-4fb3-aa86-e3abea177136-testsuite.xml
allure-report/app.js
allure-report/favicon.ico
allure-report/index.html
allure-report/styles.css
allure-report/data/behaviors.csv
allure-report/data/behaviors.json
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
allure-report/data/test-cases/1da2f334b94b5fed.json
allure-report/data/test-cases/1e0599af5c6d2f4c.json
allure-report/data/test-cases/2a4a3a99f62bce41.json
allure-report/data/test-cases/2f41d1c14408b635.json
allure-report/data/test-cases/5a90931633e5d7ae.json
allure-report/data/test-cases/8aebe030e618f678.json
allure-report/data/test-cases/16e6d866944b90f7.json
allure-report/data/test-cases/32b5cafb4c5d5967.json
allure-report/data/test-cases/77e032eddd87b07e.json
allure-report/data/test-cases/78eff63e86b45c2e.json
allure-report/data/test-cases/85aa746d4ea81220.json
allure-report/data/test-cases/286db51a6de99923.json
allure-report/data/test-cases/833b6de1e27a8325.json
allure-report/data/test-cases/6040e5e581e784a3.json
allure-report/data/test-cases/492197ccd492b5f5.json
allure-report/data/test-cases/912358ff090ec5d8.json
allure-report/data/test-cases/34195416b63c4235.json
allure-report/data/test-cases/a25f3e23c86e3f83.json
allure-report/data/test-cases/abb4bbfe22e5ffb.json
allure-report/data/test-cases/ac67d39c7f439724.json
allure-report/data/test-cases/ac441a31c59fe75c.json
allure-report/data/test-cases/ba1656fcf02ace9f.json
allure-report/data/test-cases/bd258b62a0076b6c.json
allure-report/data/test-cases/be8d26348dfe6a7c.json
allure-report/data/test-cases/c02398b68169ff5c.json
allure-report/data/test-cases/c335207a044f73f8.json
allure-report/data/test-cases/cc64e0354347b812.json
allure-report/data/test-cases/ceec646644936d81.json
allure-report/data/test-cases/e6b4c769b17dac3e.json
allure-report/data/test-cases/e7297741ad399807.json
allure-report/data/test-cases/f62e9c499d07286e.json
allure-report/data/test-cases/f782679be2902d20.json
allure-report/data/test-cases/fe85cd4510b57dc3.json
allure-report/export/influxDbData.txt
allure-report/export/mail.html
allure-report/export/prometheusData.txt
allure-report/history/categories-trend.json
allure-report/history/duration-trend.json
allure-report/history/history-trend.json
allure-report/history/history.json
allure-report/history/retry-trend.json
allure-report/plugins/behaviors/index.js
allure-report/plugins/packages/index.js
allure-report/plugins/screen-diff/index.js
allure-report/plugins/screen-diff/styles.css
allure-report/widgets/behaviors.json
allure-report/widgets/categories-trend.json
allure-report/widgets/categories.json
allure-report/widgets/duration-trend.json
allure-report/widgets/duration.json
allure-report/widgets/environment.json
allure-report/widgets/executors.json
allure-report/widgets/history-trend.json
allure-report/widgets/launch.json
allure-report/widgets/retry-trend.json
allure-report/widgets/severity.json
allure-report/widgets/status-chart.json
allure-report/widgets/suites.json
allure-report/widgets/summary.json
ScreenShot/dragAndDrop.png
